<div class="container-fluid">
  <div class="row px-2">
    <h1 class="text-center headline pt-5" id="about">ABOUT</h1>
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-center"
    >
      <img
        class="imageStyle"
        src="/images/image2.svg"
        alt="Image OF bussiness"
      />
    </div>
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-start ps-5 flex-column py Main_section"
    >
      <h1 class="main_heading">We are the one who can grow your
        <span class="Highlite">bussiness</span>
        fast</h1>
      <h2 class="second_heading">Trusted since 2005</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Ullam consequuntur quam corporis eveniet repellendus soluta corrupti.
        Praesentium inventore, ipsam mollitia nisi enim deleniti. Voluptatibus,
        tenetur. Qui recusandae alias cumque aliquam!</p>
      <button class="btn">Click ME</button>
    </div>
  </div>
</div>