<!-- HEADER SECTION -->
<div class="container-fluid">
  <div class="row">
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-start ps-5 flex-column Main_section order-sm-0"
    >
      <h1 class="main_heading">Grow your
        <span class="Highlite">Bussiness</span>
        With Us</h1>
      <h2 class="second_heading">Trusted since 2005</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Ullam consequuntur quam corporis eveniet repellendus soluta corrupti.
        Praesentium inventore, ipsam mollitia nisi enim deleniti. Voluptatibus,
        tenetur. Qui recusandae alias cumque aliquam!</p>
      <button class="btn">Click ME</button>
    </div>
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-center order-lg-last order-first"
    >
      <img
        class="imageStyle"
        src="/images/image1.svg"
        alt="Image OF bussiness"
      />
    </div>
  </div>
</div>