<!-- SERVICE SECTION -->
<div class="container-fluid">
  <div class="row px-5">
    <h1 class="text-center my-5 headline" id="services">Services</h1>
    <div
      class="col-md-4 col-12 d-flex justify-content-center align-items-xl-center"
    >
      <div class="card" style="width: 22rem;">
        <img
          src="/images/bussiness.png"
          class="card-img-top"
          alt="dvdsfvsdfv"
        />
        <div class="card-body">
          <h5 class="card-title">lorem ipsum</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div
      class="col-md-4 col-12 d-flex justify-content-center align-items-center"
    >
      <div class="card" style="width: 22rem;">
        <img
          src="/images/bussiness2.png"
          class="card-img-top"
          alt=".dsvdsvds"
        />
        <div class="card-body">
          <h5 class="card-title">lorem ipsum</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div
      class="col-md-4 col-12 d-flex justify-content-center align-items-center"
    >
      <div class="card" style="width: 22rem;">
        <img src="/images/bussiness3.png" class="card-img-top" alt="dsvdfvsv" />
        <div class="card-body">
          <h5 class="card-title">lorem ipsum</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>